.borderstyle1{border-top: 1px rgba(255, 255, 255, 0.29) solid; margin:15px 0px 15px 0px;}
.parastyle1{color: rgba(255, 255, 255, 0.64)!important;text-align:center;}
.divmarright{display: inline;height: 35px;margin-right: 1em;}
.padding-top5px{padding-top:5px;}
.margin-top30{margin-top:30px;}